@page "/"

@inject NavigationManager _navigationManager


<form action="javascript:void(0);">
    <MyInput @bind-Value="MyStringValue"></MyInput>
    <button @onclick="@NavigateAsync" type="submit">Navigate</button>
</form>

@code {
    public string MyStringValue { get; set; }

    public async Task NavigateAsync()
    {
        //some async code
        await Task.Run(() => System.Threading.Thread.Sleep(500));
        _navigationManager.NavigateTo("counter");
    }
}